.filters {
  background-color: white;
  height: 70px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 100%;
}

button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  position: absolute;
  right: 30px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

button:hover {
  opacity: 0.9;
}

.locations {
  height: 100%;
  width: 25%;
  position: absolute;
  border-right: 1px solid #dddddd;
}

.amenities {
  height: 100%;
  width: 25%;
  position: absolute;
  left: 25%;
}

h3 {
  font-weight: 600;
  margin: 0;
  position: absolute;
  left: 35px;
  top: 20px;
}

h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
  position: absolute;
  left: 35px;
  top: 40px;
}

.locations:hover > .popover{
  display: block;
  background-color: #FAFAFA;
  border: 1px solid #DDDDDD;
}

.amenities:hover > .popover{
  display: block;
  background-color: #FAFAFA;
  border: 1px solid #DDDDDD;
}

.popover {
  position: relative;
  top: 56px;
  list-style: none;
  display: none;
  padding-bottom: 30px;
  
}

h2{
  position: relative;
  margin-bottom: 0;
  left: -20px;

}

li {
  margin-top: 10px;
  list-style: none;
}

.nested-list-loc{
  position: relative;
  left: -40px;
}