.places {
	position: absolute;
	width: 1000px;
}

.places h1{
	font-size: 30px;
	padding-left: 20px;
	margin-bottom: 0;
}


.places h2 {
	width: 390px;
	padding: 20px;
	margin: 20px;
	display: inline-block;
	text-align: center;
	left: 30px;
	border: 1px solid #ff5a5f;
	font-size: 30px;
	border-radius: 4px;

}

.second_row h2{
	left: 260px;
}
